<main>
  <div *ngIf="!todos.length">
    Attendere prego....
    <div class="crea">
      <a routerLink="/todo">Crea una nuova task</a>
    </div>
  </div>
  <button class="button-delate" (click)="(delete)">Elimina</button>
  <div class="pl">
    <div class="pl__outer-ring"></div>
    <div class="pl__inner-ring"></div>
    <div class="pl__track-cover"></div>
    <div class="pl__ball">
      <div class="pl__ball-texture"></div>
      <div class="pl__ball-outer-shadow"></div>
      <div class="pl__ball-inner-shadow"></div>
      <div class="pl__ball-side-shadows"></div>
    </div>
  </div>
  <ul>
    <li *ngFor="let todo of todos">
      {{ todo.title }}
      <button (click)="delete(todo)">ELIMINA</button>
    </li>
  </ul>
</main>
